/* -------------------------------------------- */
/*****BODY*****/

#conteneur
{
    font-family: Arial, serif;
    display: flex;
    flex-direction: row;
    margin: 0;
}

/* -------------------------------------------- */
/* LINE SEPARATOR */

.Line_Separator
{
    border-bottom: 1.2px solid #FECA07;
}

/* -------------------------------------------- */
/*****HEADER*****/

h1
{
    margin:0;
    padding:0;
    font-size: 250%;
}

h1 em
{
    font-style: normal;
    color: #FECA07;
}

.NoSpace {
    margin: 0;
    padding-top: 0;
    padding-bottom: 10px;
    font-weight: 600;
}

.NoSpace em
{
    text-decoration: underline;
    text-decoration-color: #FECA07;
    font-style: normal;
}



/* -------------------------------------------- */
/*****PERSONAL SECTION*****/

.Personal
{
    display: flex;
    flex-direction: column;
    background-color: #FECA07;
}

/* -------------------------------------------- */
/* PERSONAL CATEGORY HEADER */

.Personal_Category
{
    color: #FECA07;
    background-color: #404040;
    padding: 5px;
    text-align: center;
}

/* -------------------------------------------- */
/* PHOTO */

.Personal img
{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

/* -------------------------------------------- */
/* CONTACTS */

.ContactItem
{
    margin-left: 20px;
    margin-right: 20px;
}

/* -------------------------------------------- */
/* ABOUT ME */

.About_Me
{
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
}

/* -------------------------------------------- */
/* HOBBIES */

.Hobbies_Icons
{
    display: flex;
    flex-direction: row;
    margin: 15px auto 25px;

}

.Hobbies_Icons i
{
    padding-left: 5px;
    padding-right: 5px;
}



/* -------------------------------------------- */
/*****PRO SECTION*****/

.Professional
{
    padding: 50px;
    display: flex;
    flex-direction: column;
}

/* -------------------------------------------- */
/* PRO CATEGORY HEADER */

.Professional_Category
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}

.Professional_Category p
{
    margin: 0;
    padding-left: 10px;
    font-weight: bold;
    font-size: 120%;
}

.Professional_Category i
{
    color: #FECA07;
    padding-right: 10px;
}

/* -------------------------------------------- */
/* PRO ITEMS */

.Pro_Item
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.Pro_Item p
{
    margin-top: 15px;
    padding-right: 30px;
}

.Pro_Item ul
{
    flex: 500%;
    padding-left: 25px;
    padding-right: 30px;
    list-style-type: disc;
    color: #FECA07;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 140%;
    flex-direction: row;
    margin-left: 0;
}

ul li span
{
    font-size: initial;
    color: #404040;
}

.NoBullet
{
    list-style-type: none;
}

.NoBullet i
{
    color: #FECA07;
    padding-top: 8px;
}

/* -------------------------------------------- */
/* RECOMMENDATIONS */

.Recommandation_Item
{
    display: flex;
    flex-direction: row;
}

.Recommandation_Item p
{
    padding-right: 100px;
}


/* -------------------------------------------- */
/*****RESPONSIVE*****/


/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 1280px)
{

}

    /* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
    @media all and (min-width: 1024px) and (max-width: 1280px)
    {

    }


            /* Sur tous types d'écrans orientés verticalement */
            @media all and (orientation: portrait)
            {

            }