@charset "UTF-8";
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }

#container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: auto;
  height: 100vh; }

#menu_title {
  text-align: center; }

#main_header {
  background: #569C87;
  color: #E8C44E;
  margin-bottom: 20px; }
  #main_header h1 {
    font-weight: bold;
    text-align: center; }

#menu {
  margin: auto 20px;
  padding: 30px;
  background: #F9F9F9;
  font-family: "French Script MT", serif;
  color: #020202; }
  #menu h2 {
    text-align: center;
    background: linear-gradient(to right, #0228DD 0%, #0670F3 50%, #229DF9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    padding-bottom: 15px; }
  #menu .menu_header1 {
    text-align: center;
    font-size: 17px;
    border-bottom: 3px solid #0228DD;
    line-height: 0.1em; }
    #menu .menu_header1 span {
      background: #F9F9F9;
      padding: 0 20px;
      position: relative; }
      #menu .menu_header1 span:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0228DD;
        visibility: hidden;
        transition: all 0.3s ease-in-out; }
    #menu .menu_header1 span:hover:before {
      visibility: visible;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%; }
  #menu .menu_header2 {
    text-align: center;
    font-size: 17px;
    border-bottom: 3px solid #0670F3;
    line-height: 0.1em; }
    #menu .menu_header2 span {
      background: #F9F9F9;
      padding: 0 20px;
      position: relative; }
      #menu .menu_header2 span:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0670F3;
        visibility: hidden;
        transition: all 0.3s ease-in-out; }
    #menu .menu_header2 span:hover:before {
      visibility: visible;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%; }
  #menu .menu_header3 {
    text-align: center;
    font-size: 17px;
    border-bottom: 3px solid #229DF9;
    line-height: 0.1em; }
    #menu .menu_header3 span {
      background: #F9F9F9;
      padding: 0 20px;
      position: relative; }
      #menu .menu_header3 span:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #229DF9;
        visibility: hidden;
        transition: all 0.3s ease-in-out; }
    #menu .menu_header3 span:hover:before {
      visibility: visible;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%; }
  #menu .menu_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  #menu ul {
    list-style-type: none;
    font-size: 16px;
    padding: 0; }
    #menu ul li {
      margin: 10px; }

#main_footer {
  margin-top: 20px;
  background: #569C87;
  color: #E8C44E;
  position: sticky;
  bottom: 0;
  padding: 10px; }
  #main_footer .footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    #main_footer .footer_container .legal {
      color: #E8C44E;
      text-decoration: none; }
      #main_footer .footer_container .legal:hover {
        animation: shake 2s infinite; }
    #main_footer .footer_container .contact {
      color: #E8C44E;
      text-decoration: none; }
      #main_footer .footer_container .contact:hover {
        animation: shake 2s infinite; }

/* -------------------------------------------- */
/*****MOBILE*****/
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 640px */
@media (max-width: 640px) {
  #container {
    font-size: 100%;
    width: auto; }
  #menu .menu_header1, #menu .menu_header2, #menu .menu_header3 {
    font-size: 13px; } }

/* -------------------------------------------- */
/*****HANDLE DESKTOP FULLSCREEN*****/
@media (min-width: 640px) and (max-width: 1920px) {
  #container {
    margin: 0 auto; } }
