$main_color: #569C87;
$text_color: #E8C44E;
$width_desktop: 500px;
$menu1_bg_color: #FCDFDB;
$menu2_bg_color: #FFF5FE;
$menu3_bg_color: #F9F9F9;
$menu4_bg_color: #FDFFFD;
$menu1_text_color: #493030;
$menu2_text_color: #e0aabc;
$menu3_text_color: #bfc7ff;
$menu4_text_color: #bde8bb;

@mixin style_01 {
  background: $main_color;
  color: $text_color;
}

@mixin card_style ($bg_color, $font_color, $font_family, $font_size) {

  width: 500px;
  height: 650px;
  background: $bg_color;
  color: $font_color;
  font-family: $font_family;
  font-size: $font_size;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    font-size: 25px;
    margin: 0;
  }
  &:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.5s;
    h2, h3 {
      transform: scale(1.2);
      transition: all ease-in-out 0.3s;
    }
  }
  img{
    width: 48px;
    margin: 0 auto;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes jump {
  0%   {bottom: 0;}
  20%  {bottom: 5px;}
  40%  {bottom: 0;}
}

.dot {
  width: 10px;
  height: 10px;
  background: $text_color;
  display: inline-block;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  margin: 0 2.5px;
  position: relative;
}

.dots-cont .dot-1{
  animation: jump 1s infinite;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.dots-cont .dot-2{
  animation: jump 1s infinite;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.dots-cont .dot-3{
  animation: jump 1s infinite;
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

#container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: auto;
}

#main_header {
  @include style_01;
  h1 {
    font-weight: bold;
    text-align: center;
  }
}

#menu {
  &__row1, &__row2 {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    a {
      text-decoration: none;
      margin: 15px;
    }
    .menu1 {
      @include card_style($menu1_bg_color, $menu1_text_color, (Mistral, serif), 14px);
    }
    .menu2 {
      @include card_style($menu2_bg_color, $menu2_text_color, ("Bell MT", serif), 10px);
    }
    .menu3 {
      @include card_style($menu3_bg_color, $menu3_text_color, ("French Script MT", serif), 15px);
    }
    .menu4 {
      @include card_style($menu4_bg_color, $menu4_text_color, ("Freestyle Script", serif), 16px);
    }
  }
  button {
    @include style_01;
    width: 40%;
    margin: 5px 30% 20px;
    font-size: 18px;
    padding: 8px;
    border-radius: 10px;
    border-style: solid;
  }
}

#main_footer {
  @include style_01;
  position: sticky;
  bottom: 0;
  padding:10px;
  .footer_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .legal {
      color: $text_color;
      text-decoration: none;
      &:hover {
        animation: shake 2s infinite;
      }
    }
    .contact {
      color: $text_color;
      text-decoration: none;
      &:hover {
        animation: shake 2s infinite;
      }
    }
  }
}

/* -------------------------------------------- */
/*****MOBILE*****/

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 640px */
@media (max-width: 640px) {
  #container {
    font-size: 150%;
    width: auto;
  }

  #menu {
    &__row1, &__row2 {
      flex-direction: column;
      width: 400px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      a {
        margin-right: 0;
        margin-left: 0;
      }
      .menu1, .menu2, .menu3, .menu4 {
        width: 400px;
        height: 550px;
      }
    }
  }
}

/* -------------------------------------------- */
/*****HANDLE DESKTOP FULLSCREEN*****/

@media (min-width:640px) and (max-width: 1920px)
{
  #container {
    margin: 0 auto;
  }
}

