@charset "UTF-8";
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }

@keyframes jump {
  0% {
    bottom: 0; }
  20% {
    bottom: 5px; }
  40% {
    bottom: 0; } }

.dot {
  width: 10px;
  height: 10px;
  background: #E8C44E;
  display: inline-block;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  margin: 0 2.5px;
  position: relative; }

.dots-cont .dot-1 {
  animation: jump 1s infinite;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms; }

.dots-cont .dot-2 {
  animation: jump 1s infinite;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms; }

.dots-cont .dot-3 {
  animation: jump 1s infinite;
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms; }

#container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 500px; }

#main_header {
  background: #569C87;
  color: #E8C44E; }
  #main_header h1 {
    font-weight: bold;
    text-align: center; }

#menu__row1, #menu__row2 {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px; }
  #menu__row1 a, #menu__row2 a {
    text-decoration: none;
    margin: 15px; }
  #menu__row1 .menu1, #menu__row2 .menu1 {
    width: 200px;
    height: 250px;
    background: #FCDFDB;
    color: #493030;
    font-family: Mistral, serif;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #menu__row1 .menu1 h3, #menu__row2 .menu1 h3 {
      font-size: 25px;
      margin: 0; }
    #menu__row1 .menu1:hover, #menu__row2 .menu1:hover {
      opacity: 0.5;
      transition: opacity ease-in-out 0.5s; }
      #menu__row1 .menu1:hover h2, #menu__row1 .menu1:hover h3, #menu__row2 .menu1:hover h2, #menu__row2 .menu1:hover h3 {
        transform: scale(1.2);
        transition: all ease-in-out 0.3s; }
    #menu__row1 .menu1 img, #menu__row2 .menu1 img {
      width: 48px;
      margin: 0 auto; }
  #menu__row1 .menu2, #menu__row2 .menu2 {
    width: 200px;
    height: 250px;
    background: #FFF5FE;
    color: #e0aabc;
    font-family: "Bell MT", serif;
    font-size: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #menu__row1 .menu2 h3, #menu__row2 .menu2 h3 {
      font-size: 25px;
      margin: 0; }
    #menu__row1 .menu2:hover, #menu__row2 .menu2:hover {
      opacity: 0.5;
      transition: opacity ease-in-out 0.5s; }
      #menu__row1 .menu2:hover h2, #menu__row1 .menu2:hover h3, #menu__row2 .menu2:hover h2, #menu__row2 .menu2:hover h3 {
        transform: scale(1.2);
        transition: all ease-in-out 0.3s; }
    #menu__row1 .menu2 img, #menu__row2 .menu2 img {
      width: 48px;
      margin: 0 auto; }
  #menu__row1 .menu3, #menu__row2 .menu3 {
    width: 200px;
    height: 250px;
    background: #F9F9F9;
    color: #bfc7ff;
    font-family: "French Script MT", serif;
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #menu__row1 .menu3 h3, #menu__row2 .menu3 h3 {
      font-size: 25px;
      margin: 0; }
    #menu__row1 .menu3:hover, #menu__row2 .menu3:hover {
      opacity: 0.5;
      transition: opacity ease-in-out 0.5s; }
      #menu__row1 .menu3:hover h2, #menu__row1 .menu3:hover h3, #menu__row2 .menu3:hover h2, #menu__row2 .menu3:hover h3 {
        transform: scale(1.2);
        transition: all ease-in-out 0.3s; }
    #menu__row1 .menu3 img, #menu__row2 .menu3 img {
      width: 48px;
      margin: 0 auto; }
  #menu__row1 .menu4, #menu__row2 .menu4 {
    width: 200px;
    height: 250px;
    background: #FDFFFD;
    color: #bde8bb;
    font-family: "Freestyle Script", serif;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #menu__row1 .menu4 h3, #menu__row2 .menu4 h3 {
      font-size: 25px;
      margin: 0; }
    #menu__row1 .menu4:hover, #menu__row2 .menu4:hover {
      opacity: 0.5;
      transition: opacity ease-in-out 0.5s; }
      #menu__row1 .menu4:hover h2, #menu__row1 .menu4:hover h3, #menu__row2 .menu4:hover h2, #menu__row2 .menu4:hover h3 {
        transform: scale(1.2);
        transition: all ease-in-out 0.3s; }
    #menu__row1 .menu4 img, #menu__row2 .menu4 img {
      width: 48px;
      margin: 0 auto; }

#menu button {
  background: #569C87;
  color: #E8C44E;
  width: 40%;
  margin: 5px 30% 20px;
  font-size: 18px;
  padding: 8px;
  border-radius: 10px;
  border-style: solid; }

#main_footer {
  background: #569C87;
  color: #E8C44E;
  position: sticky;
  bottom: 0;
  padding: 10px; }
  #main_footer .footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    #main_footer .footer_container .legal {
      color: #E8C44E;
      text-decoration: none; }
      #main_footer .footer_container .legal:hover {
        animation: shake 2s infinite; }
    #main_footer .footer_container .contact {
      color: #E8C44E;
      text-decoration: none; }
      #main_footer .footer_container .contact:hover {
        animation: shake 2s infinite; }

/* -------------------------------------------- */
/*****MOBILE*****/
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 640px */
@media (max-width: 640px) {
  #container {
    font-size: 150%;
    width: auto; }
  #menu__row1, #menu__row2 {
    flex-direction: column;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
    #menu__row1 a, #menu__row2 a {
      margin-right: 0;
      margin-left: 0; }
    #menu__row1 .menu1, #menu__row1 .menu2, #menu__row1 .menu3, #menu__row1 .menu4, #menu__row2 .menu1, #menu__row2 .menu2, #menu__row2 .menu3, #menu__row2 .menu4 {
      width: 400px;
      height: 550px; } }

/* -------------------------------------------- */
/*****HANDLE DESKTOP FULLSCREEN*****/
@media (min-width: 640px) and (max-width: 1920px) {
  #container {
    margin: 0 auto; } }
